body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #363636;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 104px;
  padding-left: 34px;
  margin: auto;
  border-bottom: 1px solid #d4d4d4;
}

.search-input {
  background-image: url(../img/search-input.svg);
  background-repeat: no-repeat;
  background-position: center left;
  border: none;
  padding-left: 38px;
  color: #a5a5a5;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-left: 34px;
}

.navigation {
  margin-right: 44px;
}

.navigation-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-right: 18px;
}

.button {
  cursor: pointer;
}

.sign-up {
  color: #5671f6;
  font-size: 18px;
  line-height: 21px;
  border: none;
  background-color: #fff;
  height: 104px;
  margin-right: 34px;
}

.login {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  border: none;
  background-color: #5671f6;
  height: 104px;
  width: 151px;
}

.film {
  margin-top: 80px;
  margin-bottom: 80px;
  border-bottom: 1px solid #d4d4d4;
}

.container {
  max-width: 1133px;
  margin: 0 auto;
}

.film-wrapper {
  display: flex;
}

.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.poster {
  width: 358px;
}

.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 25px;
  padding-top: 25px;
  cursor: pointer;
}

.trailer-button-icon {
  margin-right: 14px;
}

.film-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 16px;
}

.film-subtitle {
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-bottom: 32px;
}

.film-description {
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  max-width: 514px;
  margin-bottom: 50px;
}

.about-film {
  display: flex;
  margin-bottom: 50px;
}

.about-text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}

.about-text-bold {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

.left-side {
  margin-right: 40px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-counter {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5671f6;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 28px;
}

.rating-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}

.rating-text {
  display: block;
  margin-bottom: 7px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.rating-text-bold {
  font-weight: bold;
}

.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.section-title {
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
}

.section-title-active {
  font-weight: 900;
  color: #363636;
  margin-right: 30px;
}

.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 35px;
}

.card-imge {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
  margin-top: 0;
  margin-bottom: 6px;
}

.en-name {
  color: #a5a5a5;
}

.tabs-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
